<!doctype html>

<head>
    <title>Upload</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='default/icon/favicon.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit-2.25.0/css/uikit.almost-flat.min.css') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='uikit-2.25.0/css/components/progress.almost-flat.min.css') }}">
    <style>
        .uk-progress {
            margin-bottom: 0;
        }
    </style>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
    <script src="{{url_for('static', filename='default/js/utils.js')}}"></script>
    <script>

    </script>
</head>

<body style="padding:16px">

    <div class="uk-grid uk-grid-small">
        <div class="uk-width-2-10">
            <button class="uk-button uk-button-primary" style="width: 100%;" onclick="selecFile()">选择图片</button>
            <input id="file-input" style="display: none;" type="file" name="file" multiple="multiple"
                onchange="selecFileChange(this.files)" />
        </div>
        <div class="uk-width-7-10">
            <div class="uk-progress uk-progress-striped uk-active "
                style="width: 100%;height: 30px; line-height: 33px;">
                <div id="total-progress" class="uk-progress-bar" style="width: 0%;color: black;"></div>
            </div>
        </div>
        <div class="uk-width-1-10">
            <button class="uk-button uk-button-danger" style="width: 100%;" onclick="upload_()">上传</button>
        </div>
    </div>

    <div id="img_show" style="display: flex;justify-content: space-between;overflow: auto;margin-top: 16px;">

    </div>

    <script>

        let rowNum = 1;
        let imgWidth = '100%';
        function selecFile() {
            document.getElementById('file-input').click();
        }

        function createImgRow() {
            const imgBaseWidth = 230;
            let imgShowDemoWidth = document.getElementById("img_show").offsetWidth;
            let totalShowWidth = document.body.clientWidth;
            rowNum = Math.floor(imgShowDemoWidth / imgBaseWidth);
            let imgBaseWidthRemainder = imgShowDemoWidth % imgBaseWidth;
            imgWidth = imgBaseWidth + Math.floor(imgBaseWidthRemainder / rowNum) - 10 - 10;
            let rowDivDom = '';
            for (let i = 0; i < rowNum; i++) {
                rowDivDom += `
                <div style="width:${imgWidth + 10}px;display:inline-block;">
                    <div id="imgRow-${i}"> </div>
                </div>
            `
            }
            document.getElementById('img_show').innerHTML = rowDivDom
        }

        let diffNumFile = 1;
        let selectFiles = [];
        let baseDataToUpload = [];
        function selecFileChange(files) {
            createImgRow()
            selectFiles = files;
            baseDataToUpload = [];
            document.getElementById('total-progress').style.width = `30%`;
            document.getElementById('total-progress').innerHTML = `已选择 ${files.length}`;
            if (window.FileReader && files.length <= diffNumFile) {
                for (let i in files) {
                    let reader = new FileReader();
                    reader.readAsDataURL(files[i]);
                    reader.onloadend = function (e) {
                        let minImgRowDomHeight = 9999999;
                        let minImgRowDomId = 0;
                        for (let i = 0; i < rowNum; i++) {
                            let currDomHeight = document.getElementById("imgRow-" + i).offsetHeight;
                            if (minImgRowDomHeight > currDomHeight) {
                                minImgRowDomHeight = currDomHeight;
                                minImgRowDomId = i;
                            }
                        }

                        document.getElementById("imgRow-" + minImgRowDomId).innerHTML += `
                            <div class="uk-thumbnail uk-animation-slide-top" style="margin:0px 0px 8px">
                                <img src="${reader.result}" style="width:${imgWidth}px" alt="">
                                <div class="uk-thumbnail-caption">
                                    <div class="uk-progress uk-progress-striped uk-active uk-progress-mini">
                                        <div id="img-progress-${i}" class="uk-progress-bar" style="width: 0%;"></div>
                                    </div>
                                </div>
                            </div>`
                        baseDataToUpload.push({ id: i, name: files[i].name, base64: reader.result })
                    }
                }
            } else {

            }
        }

        const readFileAsync = file => new Promise(resolve => {
            const reader = new FileReader()
            reader.onload = evt => resolve(evt.target.result)
            reader.readAsDataURL(file)
        })

        async function upload_() {
            let completeNum = 0;
            if (selectFiles.length > diffNumFile) {
                for (let i in selectFiles) {
                    let reader = new FileReader();
                    let readerE = await readFileAsync(selectFiles[i]);
                    await superagent
                        .post('/upload/imgs/')
                        .attach(selectFiles[i].name, convertBase64UrlToBlob(readerE))
                        .on('progress', event => {
                            if (event.direction == 'upload') {
                                document.getElementById('total-progress').style.width = `${totalProgress}%`;
                                if (event.percent == 100) {
                                    completeNum += 1;
                                }
                                document.getElementById('total-progress').innerHTML = `${totalProgress}% ${completeNum}/${selectFiles.length}`
                            }
                        })
                }
            } else {
                let baseDataLength = baseDataToUpload.length;
                if (baseDataLength) {
                    for (let b of baseDataToUpload) {
                        try {
                            await superagent
                                .post('/upload/imgs/')
                                .attach(b.name, convertBase64UrlToBlob(b.base64))
                                .on('progress', event => {
                                    /* the event is:
                                    {
                                      direction: "upload" or "download"
                                      percent: 0 to 100 // may be missing if file size is unknown
                                      total: // total file size, may be missing
                                      loaded: // bytes downloaded or uploaded so far
                                    } */
                                    if (event.direction == 'upload') {
                                        document.getElementById('img-progress-' + b.id).style.width = `${event.percent}%`;
                                        let totalProgress = (((completeNum + (event.percent / 100)) / baseDataLength) * 100).toFixed(2);
                                        document.getElementById('total-progress').style.width = `${totalProgress}%`;

                                        if (event.percent == 100) {
                                            completeNum += 1;
                                        }
                                        document.getElementById('total-progress').innerHTML = `${totalProgress}% ${completeNum}/${baseDataLength}`
                                    }
                                })
                                .then(res => {
                                    // console.log(res)
                                }, err => {
                                    // console.error(err)
                                })
                        } catch (error) {
                            console.warn(error)
                        }
                    }
                }
            }
        }

        // window.addEventListener("resize", function () {
        //     if(baseDataToUpload.length){

        //     }
        // });
    </script>
</body>