<!doctype html>

<head>
    <title>Private Collection</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='default/icon/favicon.jpg') }}">
    <style>
        #imgView img {
            width: 100%;
            margin-bottom: 16px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>
    <script>

    </script>
</head>

<body style="margin: 24px;background-color: darkgrey;">
    <div id="imgView">
        {% if init_pictures %}
        {% for row in init_pictures %}
        <img src="{{ url_for('static', filename='picture/' + row['name']) }}" />
        {% endfor %}
        {% endif %}
    </div>
    <script>
        let windowHeight = window.screen.availHeight;
        let loading = false;
        window.onload = function () {
            let initPictures = '{{init_pictures|tojson|safe}}';
            console.log(initPictures)
            // superagent
            //     .get('/test/')
            //     .then(res =>{
            //         console.log(res)
            //     }, err =>{
            //         console.error(err)
            //     })
        }
        window.onscroll = function () {
            if (!loading) {
                let totalHeight = document.body.scrollHeight;
                let scrollTopHeight = document.documentElement.scrollTop;
                if (totalHeight - scrollTopHeight - windowHeight < 2100) {
                    loading = true;
                    superagent
                        .post('/view/more/')
                        .send([])
                        .then(res => {
                            // console.log(res)
                            loading = false;
                        }, err => {
                            // console.error(err)
                            loading = false;
                        })
                }
            }

        };
    </script>
</body>